version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: ordermanager_db
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend 
    container_name: ordermanager_backend
    env_file:
      - ./backend/.env
    ports:
      - "8082:8082"
    depends_on:
      - db
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm run seed && npm run start:dev"
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend 
    container_name: ordermanager_frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data: